html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-white);
}

img {
    object-fit: cover;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
}
